<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-brand mb-7">
      <h1 >Personal Forum</h1>
    </div>    
    <div>
      <a class="navbar-brand" href="/posts">Home</a>
      <a class="navbar-brand" href="/posts/create">Create New Posts</a>
    </div>
  </div>
</nav>