<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Poyecto Final Epica</title>
</head>
<body>
    <a href="/posts">Go Back</a>
    <h1> Create New Posts</h1>
    <form action="/posts" method="post">
        <input type="text" name="title" placeholder="@title"><br><br>
        <textarea name="content"  cols="30" rows="10" placeholder=" my new content"></textarea><br>
        <input type="text" name="image" placeholder=" Url image"><br>
        <button> Create Posts</button>
        
    </form>
</body>
</html>